*.exe
*.exe~
*.dll
*.so
*.dylib

.engwrap/
work/

*.test
build/

*.out
coverage.txt
coverage.html

vendor/
go.work
go.work.sum

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace

*.tmp
*.temp
*.log

*.bak
*.backup

.env
.env.local
.env.*.local

debug
*.debug

dist/
